.personalSkills{
    border: 2px solid black;
    width: 380px;
    margin: 0 42px 0px 42px;
    margin-top: 42px;
    max-height: 100%;
}

.heading{
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-left: 12px;
}